# rpifake requirements
mock
# lcd_restful requirements
rplcd
rpifake
requests
bottle
jsonpickle
# RPi.GPIO is last in case it fails
# only needed on RPi virtualenv (system has it pre-installed)
# and won't compile off RPi
RPi.GPIO

